body {
    margin:0;
    font-family: 'Special Elite', cursive;
  }
  #container .box {
    width:100vw;
    height:100vh;
    display:inline-block;
    position:relative;
  }
  #container .box > div {
    width:700px;
    height:700px;
    font-size:96px;
    color:#FFF;
    position:absolute;
    top:50%;
    left:50%;
    margin:-50px 0 0 -50px;
    line-height:.7;
    font-weight:bold;
    font-size: 12pt;
  }
  #container {
    overflow-y:scroll;
    overflow-x:hidden;
    transform: rotate(270deg) translateX(-100%);
    transform-origin: top left;
    background-color:rgb(65, 2, 117);
    position:absolute;
    width:100vh;
    height:100vw;
  }
  #container2 {
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
    white-space:nowrap;
    font-size:0;
  }
  
  .one {
    background-color: #000000;
  }
  .two {
    background-color: #000000;
  }
  .three {
    background-color: #000000;
  }
  .four {
    background-color: #000000;
  }
  
  
  /* Translating the content's X ruines the scrollbar length. */
  /*
  #container {
    overflow:scroll;
    transform: rotate(90deg) translateY(-100%);
    transform-origin: top left;
    background-color:#999;
    position:absolute;
    width:100vh;
    height:100vw;
  }
  #container2 {
    transform: rotate(-90deg) translateX(-100vw);
    transform-origin: top left;
    white-space:nowrap;
  }
  */

h2 {
    font-family: 'Shrikhand', cursive;
    font-size:32pt;
}